<style>
#a{
	width:50%;
	height:100%;
	background:gold;
	left:0;
	top:0;
	right:50%;
	bottom:0;
	position:absolute;
	text-align:center;
}
#AI{
	width:50%;
	height:70%;
	background:white;
	right:0;
	left:50%;
	top:30%;
	bottom:0;
	position:absolute;
	border:none;
}
#c{
	width:50%;
	height:30%;
	background:white;
	right:0;
	left:50%;
	top:0;
	bottom:70%;
	position:absolute;
	border:none;
	text-align:center;
}
#b{
	width:100%;
	height:30%;
	right:50%;
	left:0;
	top:30%;
	bottom:40%;
	position:absolute;
	border:none;
	background-color:silver;
	border-radius: 30px;
}
#bt{
	width:100%;
	height:20%;
	right:50%;
	left:0;
	top:70%;
	bottom:10%;
	position:absolute;
	background-color:lime;
	border-radius: 30px;
}
</style>
<div id="a">
<h1>Enter your prompt here.</h1>
<div contenteditable="true" id="b"></div>
<button onclick="a()" id="bt">Submit</button>
</div>
<div id="c"><h1>Your image will show here!</h1></div>
<iframe id="AI">
</iframe>
<script>
function a(){
	document.getElementById("AI").src="/AI?a="+document.getElementById("b").textContent;
}
</script>
